<!doctype html>
<html>
  <head>
    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet" type="text/css">
    <link href="css/main.css" rel="stylesheet">
    
    <script src="js/vendor/angular.min.js"></script>
  </head>
  <body ng-app="FeedsterApp">
    
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <h1>feedster</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="posts" ng-controller="PostController">
      <div class="container">

        <div class="post" ng-repeat="post in posts">
          <feedster-post post="post"></feedster-post>
          <plus-one></plus-one>
        </div>

      </div>
    </div>

    
    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/PostController.js"></script>

    <!-- Directives -->
    <script src="js/directives/feedsterPost.js"></script>
    <script src="js/directives/plusOne.js"></script>
